@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs .swiper-slide {
    opacity: 0.25;
}

.thumbs .swiper-slide-thumb-active {
    opacity: 1;
}


/* Para navegadores basados en Webkit (como Chrome y Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Para navegadores basados en Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*.property-slider{*/
/*    cursor: pointer;*/
/*    transition: all 0.3s ease-in;*/
/*}*/

.property-slider:hover {
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(136, 160, 255, 0.46) 217.91%);*/
    box-shadow: 0 72px 49px -70px rgba(136, 160, 255, 0.46);
}

.swiper-button {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.accordion-expanded {
    box-shadow: 0 23px 21px -8px rgba(136, 160, 255, 0.25);
    border-radius: 6px;
}

/*.swiper{*/
/*    padding-bottom: 20px !important;*/
/*}*/

/*.swiper-horizontal {*/
/*    overflow: visible !important;*/
/*}*/